body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}
video, img {
  width: 100%;
  margin-top: 1rem;
}
input, select, button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
form {
  margin-top: 1rem;
}
